@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Roboto+Mono&family=Space+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.blog {
    background-color: white;
    width: 75%;
    margin: auto;
    height: 100%;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.article, .contents, h1 {
    padding: 0 15px 10px 15px;
}

.article > * {
    margin: 10px 0;
}

.article > h2 {
    margin: 30px 0 0 0;
}

.article > h1 {
    margin: 10px 0;
    padding: 0;
}

li {
    margin: 0 0 0 20px;
}

.code {
    background-color: rgb(35, 39, 36);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
}

pre, code {
    font-family: 'Roboto Mono', monospace;
    font-size: small;
}

.contents {
    width: 100%;
}

.contents > div {
    height: 100%;
    background-color: white;
    border-left: 1px solid black;
    padding: 10px;
}

.contents > * {
    position: fixed;
}